.pole
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
    background-color: blue;
}

.allPole
{
    background-color: lime;
    width: 50vh;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;


}
.kl2
{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid white;
}
.kl1
{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid white;
}
.play
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: lime;
    height: 20vh;
}
.Random
{
    width: 20vw;
    height: 10vh;
}
.Play
{
    width: 20vw;
    height: 10vh;
}